@use 'variables' as *;
@use 'basic';

body {
	background-color: $bg_color;
}

header {
	@extend %section_full;
	font-size: 1.75rem;
	padding: 1.5rem;
	box-shadow: $box-shadow;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav {
		display: flex;
		gap: 3rem;

		a {
			cursor: pointer;
			padding: 0.5rem;
		}
	}
}

main {
	.presentation {
		@extend %section_bg;
		background: url(/src/images/nature_bg.jpg) 50% 50% no-repeat;
		background-size: auto 51rem;
		height: 50rem;
		font-size: 1.25rem;
		padding: 0 25rem;
		display: grid;
		grid-template-columns: 20rem 40rem;
		gap: 4rem;
		align-items: center;

		.img {
			background: url(/src/images/planet.png) 50% 50% no-repeat;
			background-size: 75%;
			background-color: $bg_color;
			border-radius: 100%;
			height: 20rem;
		}

		article {
			@extend %section_bg;
			padding: 0 1rem 1rem 1rem;
			border-radius: $border-radius_section;
			box-shadow: $box-shadow;
		}
	}
}
