@use 'variables' as *;
@use 'basic';

body {
	background-color: $bg_color;
}

header {
	@extend %section_full;
	font-size: 1.75rem;
	padding: 1.5rem;
	box-shadow: $box-shadow;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav {
		display: flex;
		gap: 3rem;

		a {
			cursor: pointer;
			padding: 0.5rem;
		}
	}
}

main {
	.presentation {
		@extend %section_bg;
		background: url(/src/images/nature_bg.jpg) 50% 50% no-repeat;
		background-size: auto 51rem;
		height: 50rem;
		font-size: 1.25rem;
		padding: 0 25rem;
		display: grid;
		grid-template-columns: 20rem 40rem;
		gap: 4rem;
		align-items: center;

		.img {
			background: url(/src/images/planet.png) 50% 50% no-repeat;
			background-size: 75%;
			background-color: $bg_color;
			border-radius: 100%;
			height: 20rem;
			animation: rotation 60s infinite linear;
		}

		article {
			@extend %section_bg;
			padding: 0 1rem 1rem 1rem;
			border-radius: $border-radius_section;
			box-shadow: $box-shadow;
		}
	}

	.history {
		padding: 2rem 3rem;

		h1 {
			color: $bg_color_section;
			text-align: center;
		}

		.content {
			margin: 2rem auto 0 auto;
			width: 45rem;
			display: flex;
			flex-direction: column;
			gap: 4rem;

			.history_part {
				border-bottom: 0.2rem solid $bg_color_section;
				color: $bg_color_section;
				display: flex;
				gap: 1rem;
				justify-content: space-between;
				padding: 0 0 1rem 0;

				.text {
					width: 30rem;
					font-size: 1.25rem;
				}
				.image {
					height: 10rem;
					width: 10rem;
					border-radius: 10rem;
				}
				.image_1 {
					background: url(/src/images/bg_1.jpg) no-repeat 50% 50%;
				}
				.image_2 {
					background: url(/src/images/bg_2.jpg) no-repeat 50% 50%;
				}
				.image_3 {
					background: url(/src/images/bg_3.jfif) no-repeat 50% 50%;
					background-size: 100%;
				}
				.image_4 {
					background: url(/src/images/bg_4.jpg) no-repeat 50% 50%;
				}
			}
		}
	}
}
